.myModal{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0 , 0.5);
  display: none;
}
.myModalContent{
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  min-width: 300px;
}
.myModal.active{
  display: flex;
  justify-content: center;
  align-items: center;
}