.app{
  width: 50%;
  margin: 50px auto;
  border: 5px  dotted #777;
  box-shadow: 6px 9px 14px rgba(0, 0, 0, .5);
  padding: 20px;
  min-height: 60vh;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent , #30ff00);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent , #00c6ff);
}
